{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "plugins": [
    "prettier",
    "react-hooks"
  ],
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:prettier/recommended",
  ],
  "rules": {
    "import/extensions": [1, "ignorePackages"],
    "import/first": 0,
    "react/jsx-filename-extension": 0,
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 1,
  }
}
