.nav {
  --opacity-default: 0.3;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navButton {
  padding: 0.5em;
  text-decoration: none;
  opacity: var(--opacity-default);
  color: var(--color-offset);
  font-size: 2rem;

  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.8;
  }
}

@media (pointer: fine) {
  .navButton {
    transition: 80ms transform ease-in;

    &:hover,
    &:focus {
      opacity: 1;
      transform: scale(1.05);
    }

    &:active {
      opacity: 0.8;
      transform: scale(1);
    }
  }
}
